default_language_version:
  python: python3

repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.9.0
    hooks:
      - id: black
        language_version: python3.10
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        language_version: python3.10
        args: [
          "--ignore=E203,E501,W503",
          "--exclude=.git,__pycache__,.venv,.tox,build,dist,docs/conf.py,jsmetrics/__init__.py"
        ]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
