# Testing and development dependencies
pip
xarray>=0.20.2
numpy>=1.20
scipy
numba
pandas>=1.1
cftime>=1.4.1
dask
netCDF4
Bottleneck
matplotlib>=3.3.2
shapely
bump2version
black
flake8
parameterized
pre_commit
pylint
pytest>=7.1
pytest-cov
# Documentation and examples
matplotlib
nc-time-axis
sphinx
numpydoc
sphinx-rtd-theme