# Testing and development dependencies
pip
xarray>=2023.1.0
numpy>=1.25
scipy
numba
pandas>=1.1
cftime>=1.4.1
dask
netCDF4
Bottleneck
matplotlib>=3.3.2
shapely
bump2version
black
flake8
parameterized
pre_commit
pylint
pytest
pytest-cov
# Documentation and examples
matplotlib
nc-time-axis
sphinx
sphinx-gallery
sphinx-rtd-theme
numpydoc
