name: Run Python Tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read
  pull-requests: read

jobs:
  build:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Set up Mamba with Python 3 and install dependencies
        uses: mamba-org/setup-micromamba@add3a49764cedee8ee24e82dfde87f5bc2914462 # v2.0.7
        with:
          cache-downloads: true
          cache-environment: true
          activate-environment: jsmet
          environment-file: environment.yml
          python-version: 3.9
          auto-activate-base: false
      - name: Run pytest coverage
        shell: bash -el {0}
        run: |
          python -m pytest --cov=./jsmetrics --cov-report xml
      - name: Coveralls GitHub Action
        uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b # v2.3.6
        with:
          path-to-lcov: coverage.xml
